html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--gap);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;

}

.spinner {
    --spinner-size: 40px;

    width: var(--spinner-size);
    height: var(--spinner-size);
    border-radius: var(--spinner-size);
    border: 3px dashed;

    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}