.cast-block {
    position: relative;
    height: auto;
    overflow: hidden;

    img {
        display: block;
        vertical-align: bottom;
        height: 100%;
    }

    .info-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
        white-space: nowrap;
    }

    .name {
        font-weight: bold;
    }

    &.placeholder {
        height: calc(33vw * 1.3);
        width: 33vw;
    }
}