.search-block {
    position: relative;

    .suggestions {
        background-color: var(--background-color);
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        z-index: 100;
    }

    .poster-image {
        height: 48px;
        width: 32px;
        margin: 0 5px 0 0;
    }

    .search-result-item {
        display: block;
        padding: 5px;

        a {
            display: flex;
            align-items: center;
            color: var(--text-color);
        }
    }
}