.tv-details {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 100;

    .backdrop-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: block;
        pointer-events: none;
        opacity: 0.4;
    }

    .main-info {
        position: relative;
    }

    .poster-image {
        position: relative;
    }

    .details {
        label {
            font-weight: bold;
        }
    }
}
