<div class="swiper-slide cast-block">
    {{#if @data.profile_path}}
    <img class="profile-image"
        srcset="{{this.profilePaths.s}}{{@data.profile_path}} 1x,
                {{this.profilePaths.m}}{{@data.profile_path}} 2x,
                {{this.profilePaths.l}}{{@data.profile_path}} 3x"
        src="{{this.profilePaths.s}}{{@data.profile_path}}" alt=""
        crossorigin="anonymous" />
    {{else}}
        <img src="{{get-path this.noPhotoSrc}}" alt="{{@data.name}}">
    {{/if}}

    <div class="info-wrapper">
        <div class="name">
            {{@data.name}}
        </div>

        <div class="role">
            {{@data.character}}{{@data.job}}
        </div>
    </div>
</div>

{{yield}}