<IntersectionObserverWrapper
    class="credits"
    @onVisible={{fn this.onCreditsVisible}}>

    {{#if this.fetchCredits.isRunning}}
        <h3>
            {{t 'global.cast'}}
        </h3>

        <div class="swiper-wrapper">
            <div class="placeholder cast-block">
            </div>
            <div class="placeholder cast-block">
            </div>
            <div class="placeholder cast-block">
            </div>
        </div>
    {{else}}
        {{#if this.credits.cast.length}}
            <h3>
                {{t 'global.cast'}}
            </h3>

            <SwiperContainer @items={{this.credits.cast}}
                             @swiperOptions={{hash
                                                slidesPerView=3
                                                roundLengths=true
                                                setWrapperSize=true}}>
            {{#each this.credits.cast as |cast|}}
                <CastBlock @data={{cast}} />
            {{/each}}
            </SwiperContainer>
        {{/if}}

        {{#if this.credits.crew.length}}
            <h3>
                {{t 'global.crew'}}
            </h3>

            <SwiperContainer @items={{this.credits.crew}}
                             @swiperOptions={{hash
                                                slidesPerView=3
                                                roundLengths=true
                                                setWrapperSize=true}}>
            {{#each this.credits.crew as |crew|}}
                <CastBlock @data={{crew}} @type="crew" />
            {{/each}}
            </SwiperContainer>
        {{/if}}

        <button {{on 'click' this.toggleCredits}}>
            {{if this.expanded (t 'global.see-less') (t 'global.see-all')}}
        </button>
    {{/if}}

    {{yield}}
</IntersectionObserverWrapper>
