<li class="search-result-item autocomplete">
    <LinkTo @route={{concat 'index.' @data.media_type}} @model={{@data.id}}>
        <img class="poster-image"
            srcset="{{this.posterPaths.s}}{{@data.poster_path}} 1x,
                    {{this.posterPaths.m}}{{@data.poster_path}} 2x,
                    {{this.posterPaths.l}}{{@data.poster_path}} 3x"
            src="{{this.posterPaths.s}}{{@data.poster_path}}" alt=""
            crossorigin="anonymous" />
        {{@data.name}}
        {{yield}}
    </LinkTo>
</li>