<form class="search-block" {{on 'submit' this.goToSearch}}>
    <input
        type="text"
        {{on 'input' this.mutQuery}}
        {{on 'focusin' (fn this.setInputFocused true)}}
        {{on 'focusout' (fn this.setInputFocused false)}}
        value={{this.query}}/>

    {{#if this.shouldShowSuggestions}}
    <ul class="suggestions">
        {{#each this.results as |result|}}
            <SearchResultItem @data={{result}}/>
        {{/each}}
    </ul>
    {{/if}}

    <button type="submit">
        x
    </button>

    {{yield}}
</form>
