<div
    class="swiper-container"
    {{did-insert this.initializeSwiper}}
    {{did-update this.updateSwiper @items}}
    {{will-destroy this.destroySwiper}}>
    <div class="swiper-wrapper">
        {{yield}}
    </div>
</div>