<div class="trending-block swiper-slide">
    <LinkTo @route={{@route}} @model={{@data.id}}>
        <img srcset="{{this.imagesPaths.s}} 1x,
                 {{this.imagesPaths.m}} 2x,
                 {{this.imagesPaths.l}} 3x" src={{this.imagesPaths.s}} alt={{@data.title}}>
        <h3 class="name">
            {{this.name}}
        </h3>
    </LinkTo>
</div>

{{yield}}