<div  class="season-info season-{{@season.season_number}}">
    {{#if @season.poster_path}}
    <img class="poster-image"
        srcset="{{@posterPaths.s}}{{@season.poster_path}} 1x,
                {{@posterPaths.m}}{{@season.poster_path}} 2x,
                {{@posterPaths.l}}{{@season.poster_path}} 3x"
        src="{{@posterPaths.s}}{{@season.poster_path}}" alt=""
        crossorigin="anonymous" />
    {{/if}}

    <div class="name">
        {{@season.name}} <span class="episode-count">
            ({{@season.episode_count}})
        </span>
    </div>

    {{#if @season.air_date}}
    <div class="air-date">
        {{format-date @season.air_date year='numeric' month='short' day='numeric'}}
    </div>
    {{/if}}

    {{!-- <div class="overview">
        {{@season.overview}}
    </div> --}}
</div>

{{yield}}