body {
    font-size: 16px;
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.placeholder {
    position: static;
    overflow: hidden;
    animation-name: placeholder;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: rgba(255,255,255,0.3);
    background-image: linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.15) 15%,rgba(0,0,0,.08) 30%);
    background-size: 1200px 100%;
    max-width: 30rem;
}