.tv-details {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;

    a {
        color: var(--text-color);
    }

    .networks {
        img {
            // padding: 5px;
            // background-color: var(--text-color);
        }
    }
}
