<div class="trending-wrapper" data-test-trending-block>
    <SwiperContainer>
        {{#each this.model.movie as |movie|}}
            <TrendingBlockItem @route='index.movie' @data={{movie}} />
        {{/each}}
    </SwiperContainer>
</div>

<div class="trending-wrapper" data-test-trending-block>
    <SwiperContainer>
        {{#each this.model.tv as |tv|}}
            <TrendingBlockItem @route='index.tv' @data={{tv}} />
        {{/each}}
    </SwiperContainer>
</div>

<div class="trending-wrapper" data-test-trending-block>
    <SwiperContainer @swiperOptions={{hash slidesPerView=3}}>
        {{#each this.model.person as |person|}}
            {{#if person.profile_path}}
                <TrendingBlockItemPerson @route='person' @data={{person}} />
            {{/if}}
        {{/each}}
    </SwiperContainer>
</div>

{{outlet}}