<div class="movie-details"
    style="--background-color: {{this.backgroundColor}}; --text-color: {{this.textColor}}">

    <img class="backdrop-image"
        {{on 'load' this.calculateImageColors}}
        srcset="{{this.backdropPaths.s}}{{this.info.backdrop_path}} 1x,
                {{this.backdropPaths.m}}{{this.info.backdrop_path}} 2x,
                {{this.backdropPaths.l}}{{this.info.backdrop_path}} 3x"
        src="{{this.backdropPaths.s}}{{this.info.backdrop_path}}" alt=""
        crossorigin="anonymous" />

    <img class="poster-image"
        srcset="{{this.posterPaths.s}}{{this.info.poster_path}} 1x,
                {{this.posterPaths.m}}{{this.info.poster_path}} 2x,
                {{this.posterPaths.l}}{{this.info.poster_path}} 3x"
        src="{{this.posterPaths.s}}{{this.info.poster_path}}" alt=""
        crossorigin="anonymous" />

    <div class="main-info">
        <h1>
            {{this.info.title}} ({{format-date this.info.release_date year='numeric'}})
        </h1>

        {{!-- todo: make this as links --}}
        <div class="genres">
            {{#each this.info.genres as |genre|}}
            <span class="genre">
                {{genre.name}}
            </span>
            {{/each}}
        </div>

        <div class="overview">
            <h3>{{t 'global.overview'}}</h3>
            {{this.info.overview}}
        </div>

        {{#if this.info.release_date}}
            <h3>
                {{t 'movie-details.released'}}
            </h3>
            <div class="release-date">
                {{format-date this.info.release_date day='numeric' month='long' year='numeric'}}
            </div>
        {{/if}}
    </div>

    <div class="details">
        <h3>
            {{t 'global.details'}}
        </h3>

        {{#if this.info.homepage}}
        <div class="homepage row">
            <label>
                {{t 'global.homepage'}}
            </label>
            <a href={{this.info.homepage}}>{{this.info.homepage}}</a>
        </div>
        {{/if}}

        {{#if this.info.budget}}
        <div class="budget row">
            <label>
                {{t 'movie-details.budget'}}
            </label>
                {{format-number this.info.budget style='currency' currency='USD'}}
        </div>
        {{/if}}


        {{#if this.info.revenue}}
        <div class="revenue row">
            <label>
                {{t 'movie-details.revenue'}}
            </label>
                {{format-number this.info.revenue style='currency' currency='USD'}}
        </div>
        {{/if}}

        {{#if this.info.runtime}}
        <div class="runtime row">
            <label>
                {{t 'movie-details.runtime'}}
            </label>
                {{!-- {{format-time this.info.runtime format='h m'}} --}}
                {{runtime this.info.runtime}}
        </div>
        {{/if}}

        <div class="status row">
            <label>
                {{t 'global.status'}}
            </label>
            {{this.info.status}}
        </div>
    </div>

    <Credits
        @type="movie/credits"
        @id={{this.model.movie_id}} />

    {{outlet}}
</div>