<div class="tv-details"
    style="--background-color: {{this.backgroundColor}}; --text-color: {{this.textColor}}">

    <img class="backdrop-image"
        {{on 'load' this.calculateImageColors}}
        srcset="{{this.backdropPaths.s}}{{this.info.backdrop_path}} 1x,
                {{this.backdropPaths.m}}{{this.info.backdrop_path}} 2x,
                {{this.backdropPaths.l}}{{this.info.backdrop_path}} 3x"
        src="{{this.backdropPaths.s}}{{this.info.backdrop_path}}" alt=""
        crossorigin="anonymous" />

    <img class="poster-image"
        srcset="{{this.posterPaths.s}}{{this.info.poster_path}} 1x,
                {{this.posterPaths.m}}{{this.info.poster_path}} 2x,
                {{this.posterPaths.l}}{{this.info.poster_path}} 3x"
        src="{{this.posterPaths.s}}{{this.info.poster_path}}" alt=""
        crossorigin="anonymous" />

    <div class="main-info">
        <h1>
            {{this.info.name}}
            ({{format-date this.info.first_air_date year='numeric'}}&nbsp;-&nbsp;
            {{#if this.info.in_production}}
                ...
            {{else}}
                {{format-date this.info.first_air_date year='numeric'}}
            {{/if}})
        </h1>

        {{#if this.info.next_episode_to_air.episode_number}}
        <div class="next-episode">
            {{!-- todo: make info component for next_episode_to_air --}}
            <h3>
                {{t 'tv-details.next-episode'}}
            </h3>
            {{t 'tv-details.season-episode-number' season=this.info.next_episode_to_air.season_number episode=this.info.next_episode_to_air.episode_number}}
            <div class="name">
                {{this.info.next_episode_to_air.name}}

                <span class="air-date">
                    ({{format-date this.info.next_episode_to_air.air_date}})
                </span>
            </div>
            <div class="overview">
                {{this.info.next_episode_to_air.overview}}
            </div>
        </div>
        {{/if}}

        {{!-- todo: make this as links --}}
        <div class="genres">
            {{#each this.info.genres as |genre|}}
            <span class="genre">
                {{genre.name}}
            </span>
            {{/each}}
        </div>

        <div class="overview">
            <h3>{{t 'global.overview'}}</h3>
            {{this.info.overview}}
        </div>

        <div class="seasons">
            <h3>
                {{t 'tv-details.seasons'}}
            </h3>
            {{#each this.info.seasons as |season|}}
                <TvSeason
                    @posterPaths={{this.posterPaths}}
                    @season={{season}} />
            {{/each}}
        </div>

        <div class="details">
            <h3>
                {{t 'global.details'}}
            </h3>

            {{#if this.info.homepage}}
            <div class="homepage row">
                <label>
                    {{t 'global.homepage'}}
                </label>

                <a href={{this.info.homepage}}>{{this.info.homepage}}</a>
            </div>
            {{/if}}

            <div class="networks row">
                <label>
                    {{t 'tv-details.networks'}}
                </label>

                <div>
                    {{#each this.info.networks as |network|}}
                        <div>
                            <img class="poster-image"
                                srcset="{{this.logoPaths.s}}{{network.logo_path}} 1x,
                                        {{this.logoPaths.m}}{{network.logo_path}} 2x,
                                        {{this.logoPaths.l}}{{network.logo_path}} 3x"
                                src="{{this.logoPaths.s}}{{network.logo_path}}" alt={{network.name}}
                                crossorigin="anonymous" />
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="status row">
                <label>
                    {{t 'global.status'}}
                </label>

                <div>
                    {{this.info.status}}
                </div>
            </div>
        </div>
    </div>

    <Credits
        @type="tv/credits"
        @id={{this.model.tv_id}} />

{{outlet}}

</div>